body {


    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

/* header section */
#header {
    background-image: url("background.png");
    height:580px;
    background-size:cover;
    background-position:center;
    position: relative;
    

}
.navbar{
    padding:0 4%;
    position:relative;
    z-index:1;
}

.logo{
    width:15%;
    padding-left:0;
    cursor: pointer;
}

.nav-link{
    font-size:1.2rem;
    
}

.nav-item{
    padding:0 20px;
}

.container{
    width:50%;
    background:rgba(86, 86, 86, 0.3);
    backdrop-filter:blur(10px);
    position:absolute;
    left:0;
    top:0;
    bottom:0;
    padding-top:15%;
}


.heading {
    color:#FFF;
    font-size: 3rem;
   
    /* font-weight: 700; */
}

.row {
    padding:-2% 7%;
    margin-left: 200px;
    width: 70%;
}

.header-about {
    font-size: 1.2rem;
    color: rgb(34, 33, 33);
}

.btn {
    font-size: 1.3rem;
}

.right-col{
    float:right;
    margin-right:10%;
    margin-top:75px;
    display: flex;
    align-items:center;
}
.music-p{
    padding-top:5px;
    color:#4e4d4d;
    font-size:1.3rem;
}

#icon{
    cursor: pointer;
    width:80px;
}



/* about section */

#about {
    /* background-color:rgb(207, 221, 221); */
    color: #fff;
    
}
 .about-header{
    padding-top: 20px;
    font-size:1.5rem;
    color:red;
 }


.row-design1 {
    
    padding:50px 0;
}




h1 {
    color: #f1c70c;
    /* text-shadow: 1px 1px 3px black; */
    cursor: pointer;

}



p {
    color: rgb(107, 107, 107);
}

.second-p {
    color: #fff;

}

.about-image {
   

    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    box-shadow: -10px 10px 22px -1px rgba(0, 0, 0, 0.57);
        /* -webkit-box-shadow: -10px 10px 22px -1px rgba(0, 0, 0, 0.57);
        -moz-box-shadow: -10px 10px 22px -1px rgba(0, 0, 0, 0.57); */
}

.about-image:hover {
    transform: scale(1.03);
    
}



/* footer section */

#footer {
    background-color: black;

}

.footer-text{
    padding-top:80px;
    padding-right:10px;
}


/* contect section */

#contect{
    height:120px;
    padding-top:40px;
}

.social{

    padding:10px 20px;
}

.social:hover{
    color:gray;
}

@media(max-width:1024px) {
    .row-design1 {
        position: relative;
        right: 125px;
    }

    .right-col {
    
        float: right;
        margin-right: 0.1%;
        margin-top: 190px;
        display: flex;
        align-items: center;
        
    }

    .music-p {
        font-size: 0.5rem;
        
    }

    #icon {
        width: 60px
    }

    .footer-text {
        padding-top: 10px;
    }
}

/* @media(max-width:1024px) {
    .row-design1 {
        position: relative;
        right: 60px;
    }

    .right-col {

        float: right;
        margin-right: 5%;
        margin-top: 150px;
        display: flex;
        align-items: center;
    }

    .music-p {
        font-size: 1.3rem;
    }

    #icon {
        width: 60px
    }

    .footer-text {
        padding-top: 10px;
    }
} */
